/*
* Style Works for both Editor and Frontend
*/

.wp-block-create-block-boilerplate {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}
.wp-block-bdt-review {
	max-width: 1200px !important;
}

.wp-block-bdt-review {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
	gap: 20px;
}
// @media (max-width: 575px) {
// 	.wp-block-bdt-review {
// 		grid-template-columns: repeat(1, 1fr);
// 	}
// }
// @media (min-width: 576px) {
// 	.wp-block-bdt-review {
// 		grid-template-columns: repeat(2, 1fr);
// 	}
// }

// @media (min-width: 1024px) {
// 	.wp-block-bdt-review {
// 		grid-template-columns: repeat(3, 1fr);
// 	}
// }
